DB_PATH=mongodb://localhost:27017/passportAuth
SESSION_DB_PATH=mongodb://localhost:27017/sessionStor
SESSION_SECRET=f7853bd13292b56f5d08

googleClientID=...
googleClientSecret=...
googlecallbackURL=http://localhost:3100/api/auth/google/callback

vkClientID=...
vkClientSecret=...
vkCallbackURL=http://localhost:3100/api/auth/vkontakte/callback
