<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express аутентификация</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  {{#if isSignin}}
  <script defer src="/signin.js"></script>
  {{/if}}
  {{#if isSignup}}
  <script defer src="/signup.js"></script>
  {{/if}}
</head>

<body>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Главная</a>
    </li>
    {{!-- res.locals.username --}}
    {{#if username}} 
    <li class="nav-item">
      <a class="nav-link" href="/private">Приватная страница</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/signout">Выйти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Привет, {{username}}</a>
    </li>
    {{else}}
    <li class="nav-item">
      <a class="nav-link" href="/auth/signin">Войти</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/signup">Регистрация</a>
    </li>
    {{/if}}
  </ul>
  <div class="container-fluid">
    {{{body}}}
  </div>
</body>

</html>
